
.home-page {
    padding: 20px;
  
  }
  
  .cart-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
  }
  
  .cart-card {
    width: 220px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    transition: transform 0.2s ease-in-out;
  }
  
  .cart-card:hover {
    transform: translateY(-5px);
  }
  
  .cart-image {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }
  

  .item-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  .item-card {
    width: 200px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
  }
  
  .item-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  h4 {
    margin: 10px 0;
  }
  
  p {
    color: #555;
  }
  
  