
.ItemList {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 20px;
  background-color: #f9fbfd;
  color: #333;
  max-width: 1400px;
  margin: 0 auto;
}


.tabs {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  background-color: #e9eff5;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 500;
  color: #444;
  border: 1px solid #d0d7de;
}

.tab.active, .tab:hover {
  background-color: #1e90ff;
  color: #fff;
  box-shadow: 0 4px 8px rgba(30, 144, 255, 0.2);
  border: 1px solid transparent;
}

.search-section {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-input {
  padding: 12px;
  width:20px;
  border: 1px solid #ccd6e0;
  border-radius: 30px;
  transition: box-shadow 0.3s ease;
}

.search-input:focus {
  box-shadow: 0px 0px 12px rgba(30, 144, 255, 0.3);
  border-color: #1e90ff;
}

.search-button {
  padding: 12px 20px;
  width: 40%;
  background-color: #1e90ff;
  color: #fff;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-bottom: 25px;
}

.search-button:hover {
  background-color: #1c7ed6;
}


.product-list table {
  width: 100%;
  max-width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.1);
  
}

.product-list th, .product-list td {
  padding: 15px;
  text-align: left;
  border-bottom: 1px solid #e9eff5;
  
}

.product-list th {
  background-color: #007bff;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-size: 14px;
}

.product-list tr:hover {
  background-color: #f0f8ff;
}

.product-list td {
  color: #555;
  font-size: 15px;
}


.FaCheck {
  color: #28a745;
}

.FaTimes {
  color: #dc3545;
}


.add-to-cart-btn {
  background-color: #328821;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:hover {
  background-color: #1c7ed6;
}

/* Mobil uyumluluk */
@media (max-width: 768px) {
  .tabs {
    flex-direction: column;
    gap: 10px;
  }

  .product-list table {
    display: block;
    overflow-x: auto;
  }

  .product-list th, .product-list td {
    padding: 12px;
  }

  .search-input {
    max-width: 100%;
  }
}
